{% extends '@App/base.html.twig' %}

{% block headerTitle %}
    Resultat hinzufügen
{% endblock %}

{% block navigation %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path('homepage') }}">Startseite</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="container">
        <div>
            <p>
                {{ message }}
            </p>
        </div>

        <form method="post">
            <div class="row">
                <div class="input-field col s6">
                    <select id="player" class="validate" name="player">
                        <option value="" disabled selected>Wähle eine option</option>
                        {% for player in players %}
                            <option value="{{ player.id }}">{{ player.nickname }}</option>
                        {% endfor %}
                    </select>
                    <label for="player">Name</label>
                </div>
                <div class="input-field col s6">
                    <label for="game-name">Rang</label>
                    <input id="game-name" type="number" name="rank"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Absenden</button>
                </div>
            </div>
        </form>
        <a href="{{ path('select-game', {'eventId': eventId}) }}">Zurück</a>
    </div>
{% endblock %}
